<html lang="en">
<head>
    {% block title %}<title>List</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
</head>
<body>
  <h4>Welcome to my simple html page that has list of users that you added</h4>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'list' %}">All Users</a></li>
            <li><a href="{% url 'add' %}">Add Users</a></li>
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}
           
        {% endblock %}</div>
    </div>

    <div class="row">
            <div class="col-sm-2">
                    
            </div>
            <div class="col-sm-10">
                    
                <h5>List of Users</h5>
                {%for user in  users_list %}
                <li>{{user.user_name}} {{user.user_email}}</li>
                {% endfor %}
            </div>
            
      </div>
  </div>
  

</body>
</html>